/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}

.loginLblPos{

   position:fixed;
   right:10px;
   top:40px;
}

.userLblPos{

   position:fixed;
   right:60px;
   top:90px;
}